.jumbotron {
  background-color: #E63946;
  color: white;

}
footer {
  padding: 2rem 2rem 0 2rem;
  background-color: #A8DADC;
  margin-top: 1rem;
  margin-bottom: 0;
}

.card-hotel {

  flex: : 1 10px;
  padding: 1rem;

}

mark{
  background-color: yellow
}

.btn-reserva {
  width: 10rem;
  align-content: flex-end;

}
